*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
}

/* boton cambia color */
#header-inicial{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#pagina-inicial{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:flex;
    
}

#pagina-juego{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    display:none;
    
}

#pagina-ingreso-palabra{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#img-logo{
    margin-left: 80px;
}
#img-logo2{
    margin-left: 80px;
    display:none;
}

#main-inicial{
    max-width: 1200px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-btn{
    width: 30vh;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#btn-iniciar{
    height: 114px;
    width: 317px;
    border:none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border:3px solid red;
    background-color: red;
    color: white;
}

#btn-palabra{
    height: 67px;
    width: 280px;
    border:1px solid red;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color:red;
}

#teclado{
    display: none;
}


@media screen and (max-width:780px){
    #div-btn{
        height: 80%;

    }
    #teclado{
        width: 100%;
        height: 120px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: red;
        justify-content: space-around;
        grid-gap: 3px;
        margin-bottom: 10px;
    }

    .fila{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content:space-around;
    }

    .fila button{
        width: 9%;
        height:100%;
        background-color: white;
        color:red;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        border:none;
    }
}

@media screen and (max-width:400px){
    #div-btn{
        height: 45vh;

    }
    #teclado{
        width: 100%;
        height: 120px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: red;
        justify-content: space-around;
        grid-gap: 3px;
    }

    .fila{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content:space-around;
    }

    .fila button{
        width: 9%;
        height:100%;
        background-color: white;
        color:red;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        border:none;    
    }
}





/* Cambio de color */


.cambio-color{
    width: 100px;
    height: 40%;
    background-color: darkred;
    border-radius: 30px;
    margin-right: 15px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-color{
    background-color: white;
    width: 40%;
    height:90%;
    border:none;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
}

.colorAzul{
    background-color: darkred;
    color: white;
}

.colorBlanco{
    background-color: white;
    color: darkred;
}
